*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
     /* margin-left: 10px; */
     align-items: center;

}
 


.color-orange{
    color: #FD6E0A;
}




/* main style */
header{
    background-color: #FFF8F3;
    background: url(developer.png) , url("header_bg.png"), #FFF8F3;
    background-position: top left, bottom right ;
    background-repeat: no-repeat;
    
    padding-top: 50px;
}
 nav{
   width: 85%; 
    max-width: 1168px;
     /* border: 1px solid red; */
     margin: 0px auto; 
    display:flex;
    justify-content: space-between;
    align-items: center; }
   

    

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50.84px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 16.28px 35px 19.9px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

.section-heading{
max-width: 827px;
text-align: center;
}

.section-heading h2{
font-size: 35px;
margin-bottom: 30px;
}

.section-heading p{
   font-size: 18px;
   margin-bottom: 30px;
  line-height: 30px;
   color: #757575;

}
.content{
    max-width: 585px;
}
#bannar{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
     max-width: 1168px;
    margin: 46px auto 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 #bannar{
    max-width: 1168px;
    margin: 46px auto 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bannar .content h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;

}
#bannar .content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
#bannar .content p{
font-size: 18px;
color: #757575;
line-height: 30px;
margin-bottom: 30px;


}

#bannar .bannar-image img{
    max-width: 584px;
    vertical-align:middle;                  
}

#about{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}


#about .about-container .about-info{
   display: flex;
   justify-content: space-around;

}

.about-info .info-card p{
 font-size: 20px;
  line-height: 30px;
   color: #757575;
}

.about-info .info-card h4{
    font-size: 20px;
}
