*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
 

}
.color-orange{
    color: #FD6E0A;
}




/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 76%;
    max-width: 1168px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50.84px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 16.28px 35px 19.9px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}






   
    
   
