*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
     /* margin-left: 10px; */
     align-items: center;

}
 


.color-orange{
    color: #FD6E0A;
}




/* main style */
header{
    background-color: #FFF8F3;
    background: url(developer.png) , url("header_bg.png"), #FFF8F3;
    background-position: top left, bottom right ;
    background-repeat: no-repeat;
    
    padding-top: 50px;
}
 nav{
   width: 85%; 
    max-width: 1168px;
     /* border: 1px solid red; */
     margin: 0px auto; 
    display:flex;
    justify-content: space-between;
    align-items: center; }
   

    

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50.84px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
     padding: 16.28px 35px 19.9px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer; 

} 

.section-heading{
max-width: 827px;
text-align: center;
margin: 0 auto;
}

.section-heading h2{
font-size: 35px;
margin-bottom: 30px;
}

.section-heading p{
   font-size: 18px;
   margin-bottom: 30px;
  line-height: 30px;
   color: #757575;

}
.content{
    max-width: 585px;
}
#bannar{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
     max-width: 1168px;
    margin: 46px auto 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 #bannar{
    max-width: 1168px;
    margin: 46px auto 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bannar .content h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;

}
#bannar .content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
#bannar .content p{
font-size: 18px;
color: #757575;
line-height: 30px;
margin-bottom: 30px;


}

#bannar .bannar-image img{
    max-width: 584px;
    vertical-align:middle;                  
}

#about , #skills , #resume {
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}


#about .about-container .about-info{
   display: flex;
   justify-content: space-around;

}

.about-info .info-card p{
 font-size: 20px;
  line-height: 30px;
   color: #757575;
}

.about-info .info-card h4{
    font-size: 20px;
}




#skills .skills-container{
    width: 71%;
    max-width: 1140px; ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skills .skills-container .skill-box{
  display: flex;
  gap: 24px;
}

.skill-box .skill-card{
   padding: 30px;
   /* border: 1px solid brown; */
   box-shadow: 0 6px 50px 0 #00000027;
   max-width: 267px;
}

.skill-card .img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}

.resume-container hr{
    margin: 30px 0px;
}

 .resume-container .section-title{
   color: #474747; 
   font-size: 30px;
   margin-bottom: 30px;
 }

 .resume-card{
    max-width: 511px;
    margin-right: 47px;
 }

 .resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
 }

 .resume-card .card-info{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;

 }

 .resume-card .card-text{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    

 }

 .btn-footer{
   background-color: #FD6E0A;
    border: none;
     padding: 16.28px 35px 19.9px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer; 
    
 }

 .text-center{
    text-align: center;
 }

 footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
 }

 footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
 }
.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;


 }

 .footer-container .social{
    max-width: 562px;

 }

 .footer-container .social p{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;

 }

 .footer-container .icon a{
    margin-right: 24px;

 }


.footer-container form input[type="text"], .footer-container form textarea {
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}